// fn
colorGroup(key,value){
  {key}: value;
  {key}-hover: lighten(value, 10%);
  {key}-active: darken(value, 15%);
  {key}-shadow: rgba(value, .18);
  {key}-shadow2:rgba(value, .09);
}
buttonFn(type){
  border:1px solid var(type);
  background:var(type);
  color:#fff;
  --shadow:var(type + -shadow)
  --shadow2:var(type + -shadow2)
  &:hover{
    background-color:var(type+-hover);
    border-color:var(type+-hover);
  }
  &:active{
    background-color:var(type+-active);
    border-color:var(type+-active);
  }
  &:disabled{
    opacity:.4;
  }
}
createButton(type,value){
  button[data-type={type}]{
    buttonFn(value);
  }
}