


//spread
button,input{
  font-size:var(--size,14px);
  transition:all .1s;
  &:active{
    box-shadow:0 0 0 .26em rgba(1 117 216,.07);
  }
  &:focus{
    animation:spread .4s ease-in-out;
  }
  &:disabled{
    pointer-events:none;
    cursor:not-allowed;
  }
}

//button-style
button {
  border-radius:.2em;
  cursor:pointer;
  padding:.4em 1em;
  border:1px solid var(--gray);
}
createButton('primary',--primary)
createButton('warning',--warning)
createButton('danger',--danger)
  

//checkbox-switch
input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 1.4em;
  height: 1.4em;
  //background-color: var(--gray);
  border-radius: .2em;
  border:1px solid #ccc;
  box-sizing:border-box;
  //transform:scale(1.4);
  &::before,&::after{
    content:'';
    display:block;
    width:100%;
    height:100%;
    box-sizing:border-box;
    position:absolute;
    left:0;
    top:0;
  }
  &::after{
    transition:all .2s;
    transform:scale(0) rotate(-135deg);
  }
  &:checked {
    &::after{
      width:60%;
      left:20%;
      top:-2px;
      transform:scale(.7) rotate(-140deg);
      border-left:.3em solid var(--primary);
      border-top:.3em solid var(--primary);
    }
  }
  &:disabled{
    background:var(--gray-hover);
    
  }
}

//checkbox-switch
input[type="checkbox"][role="switch"] {
  position: relative;
  width: 2em;
  height: 1em;
  background-color: var(--gray);
  border-radius: 1em;
  transform:scale(1.4);
  border: none;
  outline: none;
  -webkit-appearance: none;
  transition: all .2s ease-out;
  cursor:pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  
  &::after {
    content: '';
    position: absolute;
    top: .1em;
    left: .1em;
    width: .8em;
    height: .8em;
    background-color: #fff;
    border-radius: .5em;
    transition: all .2s ease;
    transform: scale(1);
  }
  &:active{
    &::after{
      width: 1em;
    }
  }
  &:checked {
    background-color: var(--primary);
    &::after {
      left: 1.1em;
      border:none;
      transform:scale(1);
    }
    &:active{
      &::after{
        left: .9em;
      } 
    } 
  }
}

//radio
input[type="radio"] {
  appearance: none;
  cursor:pointer;
  width:1.4em;
  height:1.4em;
  border-radius:2em;
  position:relative;
  &::before,&::after{
    content:'';
    display:block;
    width:100%;
    height:100%;
    box-sizing:border-box;
    border-radius:2em;
    position:absolute;
    left:0;
    top:0;
  }
  &::before{
    border:1px solid var(--primary);
    z-index:0;
  }
  &::after{
    transform:scale(.1);
    transition:all .2s;
  }
  &:disabled{
    background:var(--gray-hover);
    &::before{
      border:1px solid var(--gray-active);
    }
  }
  &:checked{
    &::after{
      transform:scale(.6);
      background:var(--primary);
    }
  }
}
input[type="radio" i]{
   margin:0 10px;
   border-radius:2em;
   overflow:hidden;
   background-color:transparent;
}
input[data-type="tick"]{
  &::after{
    width:0;
    transform:scale(0) rotate(-135deg);
    transform-origin:center center;
    border-radius:2px;
    left:20%;
    top:-2px;
  }
  &:checked{
    &::after{
      background:transparent;
      width:60%;
      transform:scale(.5) rotate(-135deg);
      border-left:.3em solid var(--primary);
      border-top:.3em solid var(--primary);
    }
  }
}
@keyframes spread{
  0%{
    box-shadow:0 0 0 0 rgba(0 0 0,0);
  }
  40%{
    box-shadow:0 0 0 0 rgba(0 0 0,0);
  }
  70%{
    box-shadow:0 0 0 .26em rgba(1 117 216,.14);
  }
  100%{
    box-shadow:0 0 0 .26em rgba(1 117 216,.07);
  }
}

//text
input[type=text],
input[type=number],
input[type=date]{
  border:1px solid var(--gray);
  padding:.4em .5em;
  border-radius:2px;
  &:focus{
    border-color:var(--primary);
    box-shadow:0 0 0 .2em rgba(1 117 216,.1)
  }
  &:focus-visible{
    
    outline:none;
  }
  &::-webkit-input-placeholder{
    color:var(--gray);
  }
}
input[type=number]{
  &::-webkit-inner-spin-button{
    display:block;
    //align-self:baseline;
  }
}