@import 'fn'
//stylus var
primary = rgb(109, 60, 255);
warning = #faad14;
danger = #ff4d4f;
gray = #dadada;

/* css vars */
:root{
  colorGroup(--primary,primary)
  colorGroup(--warning,warning)
  colorGroup(--danger,danger)
  colorGroup(--gray,gray)
}